
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="styles.css">

    <title>ArtOfPlant</title>
</head>
<body>
    <main>
        <div id="content">
            <!--HEADER-->
            <header class="header_product">
                <nav class="nav-product">
                    <h2>LOGO</h2>
                    <div class="nav-links">
                        <ul>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="detail.html">ARTICLES</a></li>
                            <li><a href="#subscribe"><button>Subscribe</button></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="header-product">
                    <div class="header__text__product">
                        <h1>All Product Here</h1>
                        <P>We brings our best product to you </P>
                        <div class="line"></div>
                    </div>
                </div>
            </header>
            <!--HOME-->
            <section class="products" id="products">
                <h4>Product</h4>
                <div class="line"></div>
                <div class="container_product">
                    <div class="product a1">
                        <figure>
                            <img src="/images-products-1.jpg" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde</figcaption>
                    </div>
                    <div class="product a2">
                        <figure>
                            <img src="/images-products-2.jpg" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde 1</figcaption>
                    </div>
                    <div class="product a3">
                        <figure>
                            <img src="/images-products-3.png" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde 2</figcaption>
                    </div>
                </div>
                <div class="container_product">
                    <div class="product a4">
                        <figure>
                            <img src="/images-products-4.png" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde 2</figcaption>
                    </div>
                    <div class="product a5">
                        <figure>
                            <img src="/images-products-5.png" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde 2</figcaption>
                    </div>
                    <div class="product a6">
                        <figure>
                            <img src="/images-products-6.png" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde 2</figcaption>
                    </div>
                </div>
                <div class="container_product">
                    <div class="product a7">
                        <figure>
                            <img src="/images-products-7.png" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde 2</figcaption>
                    </div>
                    <div class="product a8">
                        <figure>
                            <img src="/images-product-8.png" class="product_img">
                        </figure>
                        <figcaption class="article_title">Galactus la parde 2</figcaption>
                    </div>
                    <div class="product a9">
                        <figure>
                            <img src="/images-product-9.png" class="product_img">
                            <figcaption class="article_title">Galactus la parde 2</figcaption>
                        </figure>
                    </div>
                </div>
            </section>
            <!-- FOOTER -->
            <footer class="footer-web-product">
                <div class="footer-text-product">
                    <p>About</p>
                    <p>Articles</p>
                    <p>Home</p>
                </div>
            </footer>
        </div>
    </main>
        <!--SCROLL REVEAL-->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!--MAIN JS-->
        <script src="assets/js/main.js"></script>

</body>
</html>