@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@media screen and (max-width: 1000px) {
    #content{
        width: 100%;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url('assets/img/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.header_product{
    min-height: 100vh;
    width: 100%;
    background-color: #6CBE5E;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header-product{
    min-height: 100vh;
    width: 100%;
    background-image: url('/pexels-vlada-karpovich-4451739\ 1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #414141;
    text-decoration: none;
    font-size: 24px;
}
.nav-product ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #6e5843;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 80%;
}
.header__text{
    width: 90%;
    color: #414141;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header__text__product{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header__text, .header__text__product h1{
    font-size: 64px;
}
.header__text p{
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #414141;
}
.header__text__product p{
    color: #ffffff;
}
.line{
    width: 50px;
    height: 3px;
    background: #414141;
    opacity: 0.75;
    margin: auto;
}
/* ARTICLES */
.container {
    display: flex;
    width: 70%;
    height: 450px;
    margin: 0 auto;
}
.container_product {
    display: flex;
    width: 70%;
    height: 350px;
    margin: 0 auto;
}
.container-images{
    display: flex;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 250px;
}
.container_price {
    display: flex;
    width: 50%;
    height: 350px;
    margin: 0 auto;
}
.price {
    text-align: left; 
    background-color: #f5f1f1; 
    flex-grow: 1;
    padding: 50px; 
    padding-top: 120px; 
    margin-top: 50px;
    margin-bottom: 50px;
}
.articles, .products {
    text-align: center; 
    background-color: #EFEFEF; 
    padding: 50px; 
}
.articles, .products h4 {
    font-family: 'Open Sans';
    text-align: center; 
    font-size: 18px;
    font-style: bold;
    color: #000000;
    margin-bottom: 10px;
}

.article, .product {
    margin: 20px;
    background-color: #ffffff;
    border-radius: 0px;
}

.a1 {
    flex-grow: 1;
}
.a2 {
    flex-grow: 1;
}

.a3 {
    flex-grow: 1;
}
.a4 {
    flex-grow: 1;
}
.a5 {
    flex-grow: 1;
}
.a6 {
    flex-grow: 1;
}
.a7 {
    flex-grow: 1;
}
.a8 {
    flex-grow: 1;
}
.a9 {
    flex-grow: 1;
}
.product_img{
    width: 100px;
    height: 150px;
    margin-top: 30px;
}
.article_img{
    width: 100%;
    padding-bottom: 50px;
}
.article_title{
    color: #414141;
    font-style: italic;
    margin-top: 20px;
}
.article_subtitle{
    color: #414141;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
    font-size: 14px;
}
figcaption{
    color: rgb(0, 0, 0);
    font-size: 120%;
    padding-bottom: 15px;
}
.about__img{
    width: 100%;
}
.banner_img{
    width: 90%;
    margin: 20px;
}
.column {
    float: left;
    width: 50%;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.about__title{
    color: #414141;
    text-align: center;
    padding-top: 150px;
    font-size: 18px;
    margin-bottom: 10px;
}
.about__subtitle{
    color: #414141;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: justify;
}
.subscribe{
    text-align: center;
    padding: 180px;
    background-color: #E9ECE9;
}
.subscribe h3{
    font-family: 'Open Sans';
}
.subscribe_subtitle{
    color: #414141;
    padding-top: 15px;
    padding-bottom: 15px;
}
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #E9ECE9;
    border: 2px solid white;
    border-radius: 4px;
}
input[type=button]{
    background-color: #E9ECE9;
    color: black;
    border: 1px solid #000000;
    padding: 14px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
button{
    background-color: transparent;
    color: black;
    border: 1px solid #000000;
    padding: 14px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}
.footer-web{
    background-color: #ffffff;
    text-align: right;

}
.footer-web-product, .footer-web-detail{
    background-color: #6CBE5E;
    text-align: right;

}
.footer-text-detail p, .footer-text-product p{
    padding: 30px;
    color: rgb(255, 255, 255);
    font-style: bold;
    display: inline-block;
    text-align: right;
}

.footer-text p{
    padding: 30px;
    color: rgb(0, 0, 0);
    font-style: bold;
    display: inline-block;
    text-align: right;
}